div.col-md-1
    div.col-md-10
        p Lighting
            table.table-bordered.table-striped.table-hover
                tbody
                    tr
                        th ID
                        th Description
                        th Pin ID
                        th On
                        th Off
                        th Toggle
                        th Fade +
                        th Fade -
                        th Time
                    tr(ng-repeat="light in lighting", ng-show="selectedTank")
                        td {{light.id}}
                        td {{light.description}}
                        td {{light.pin}}
                        td
                            button(ng-click="operateLight($index,'on')").btn On
                        td
                            button(ng-click="operateLight($index,'off')").btn Off
                        td
                            button(ng-click="operateLight($index,'toggle')").btn Toggle
                        td
                            button(ng-click="operateLight($index,'fadeup')").btn +
                        td
                            button(ng-click="operateLight($index,'fadedown')").btn -
                        td.input-append
                            select(ng-model="dayNightSelector")
                                option(value='day') Day
                                option(value='night') Night