

div.container

    div.table-responsive
        table.table-bordered.table-striped.table-hover
            tbody
                tr
                    th.col-sm-1 ID
                    th.col-sm-1 Description
                    th.col-sm-1 Pin ID
                    th.col-sm-1 On
                    th.col-sm-1 Off
                    th.col-sm-1 Toggle
                    th.span3 Fade

                    th.col-sm-1 Time
                    th.col-sm-1 Save Max/Time
                tr(ng-repeat="light in lighting", ng-show="selectedTank")
                    td
                     center {{light.id}}
                    td
                        center {{light.description}}
                    td
                        center {{light.pin}}
                    td
                        center
                            button(ng-click="operateLight($index,'on')").btn On
                    td
                        center
                            button(ng-click="operateLight($index,'off')").btn Off
                    td
                        center
                            button(ng-click="operateLight($index,'toggle')").btn Toggle
                    td.input-append
                            input(ng-model="light.pwmValue", type='text', id="{{'slider' + $index}}", slider, options='options')
                    td.input-append
                        center
                            select(ng-model="light.dayNightSelector")
                                option(value='day') Day
                                option(value='night') Night

                    td
                        button(ng-click="saveMaxLightValue($index, 'savemax')").btn Save