div.col-md-1
div.col-md-10
    p Outlets

    table.table-bordered.table-striped.table-hover
        tbody
            tr
                th ID
                th Description
                th Pin ID
            tr(ng-repeat="outlet in outlets", ng-show="selectedTank")
                td {{outlet.id}}
                td {{outlet.description}}
                td {{outlet.pin}}